.tiptap mark {
  background-color: #faf594;
  border-radius: 0.4rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.tiptap-editor {
  .tiptap-control-group {
    .editor-btn {
      // border: 1px solid #e0e0e0;
      min-width: 35px !important;
      height: 35px;
      padding: 5px;
      border-radius: 4px;
      &.is-active {
        color: #fff;
        background-color: #000;
      }
    }
  }
  .ProseMirror {
    // border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 1rem;
    margin: 4px 0;
    &.ProseMirror-focused {
      // border: 1px solid #e0e0e0 !important;
      outline: none !important;
    }
  }
}
.ProseMirror {
  padding: 1rem;

  pre {
    color: #abb2bf;
    background: #282c34;
    padding: 1rem;
    border-radius: 4px;
  }

  ol {
    list-style-type: decimal-leading-zero;
    margin: 1rem 0 1.5rem;
  }
  ul {
    list-style-type: circle;
    margin: 1rem 0 1.5rem;
  }
  ol,
  ul {
    li {
      margin: 0 0 0 1.5rem;
      code {
        color: #e06c75;
      }
    }
  }
}
table {
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  th,
  td {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    min-width: 100px;
  }
}

code[data-highlighted="yes"] {
  position: relative;
  padding-top: 2rem !important; // create space for the dots
  border-radius: 8px !important;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 48px; // enough for 3 circles + 2 gaps
    height: 12px;

    background-image: radial-gradient(circle, #ff5f56 5px, transparent 6px),
      // red
      radial-gradient(circle, #ffbd2e 5px, transparent 6px),
      // yellow
      radial-gradient(circle, #27c93f 5px, transparent 6px); // green

    background-repeat: no-repeat;
    background-position: 0 0, 16px 0, 32px 0; // each dot spaced with 4px gap
    background-size: 12px 12px;
    z-index: 10;
  }
}

.ProseMirror.interview {
  pre {
    padding: 0 !important;
  }
  ol {
    li {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
