.tiptap mark {
  background-color: #faf594;
  border-radius: 0.4rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.tiptap-editor {
  .tiptap-control-group {
    .editor-btn {
      border: 1px solid #e0e0e0;
      width: 40px;
      height: 40px;
      padding: 5px;
      border-radius: 4px;
      &.is-active {
        color: #fff;
        background-color: #000;
      }
    }
  }
  .ProseMirror {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 1rem;
    margin: 4px 0 1rem;
    &.ProseMirror-focused {
      border: 1px solid #e0e0e0 !important;
      outline: none !important;
    }
  }
}
.ProseMirror {
  padding: 1rem;

  pre {
    color: #abb2bf;
    background: #282c34;
    padding: 1rem;
    border-radius: 4px;
  }

  ol {
    list-style-type: decimal-leading-zero;
    margin: 1rem 0 1.5rem;
  }
  ul {
    list-style-type: circle;
    margin: 1rem 0 1.5rem;
  }
  ol,
  ul {
    li {
      margin: 0 0 0 1.5rem;
    }
  }
}
table {
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  th,
  td {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    min-width: 100px;
  }
}
